<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormInput</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.FormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusCode</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.StatusCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateExcel</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.CreateExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimeNumber</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.PrimeNumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateImageServlet</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.CreateImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitorServlet</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.VisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeCookieServlet</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.TypeCookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HitCounter</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.HitCounterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleSessionServlet</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.SimpleSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSessionServlet</servlet-name>
        <servlet-class>com.mitrais.bootcamp.servlet.ListSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormInput</servlet-name>
        <url-pattern>/form-input</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusCode</servlet-name>
        <url-pattern>/StatusCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateExcel</servlet-name>
        <url-pattern>/excel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimeNumber</servlet-name>
        <url-pattern>/prime-numbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateImageServlet</servlet-name>
        <url-pattern>/create-image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitorServlet</servlet-name>
        <url-pattern>/visitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeCookieServlet</servlet-name>
        <url-pattern>/cookie-vs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HitCounter</servlet-name>
        <url-pattern>/hit-counter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleSessionServlet</servlet-name>
        <url-pattern>/simple-session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSessionServlet</servlet-name>
        <url-pattern>/list-session</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
